<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="__CSS__/main.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/creat.css">
    <script src="__JS__/creat.js"></script>
    <script src="__AJAX__/creat.js"></script>
    <title>热门投票</title>
</head>
<body style="background: #f1f4ff">
<!--头部引入-->
{include file="include/header"}
<!--/头部-->
<div class="showhot">
    <p class="stitle">
        热门投票
    </p>
    <hr style="background: #625eff;height: 3px;width: 150px;margin-left: 0px;margin-bottom: 60px;"/>
    <!--缩略图-->
    {volist name="list" id="thumb"}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="__UPLOADDIR__/{$thumb.images}" width="300px" height="200px" >
            <div class="caption">
                <h3>{$thumb.title}</h3>
                <p>{$thumb.content}</p>
                <p >
                    {if condition="$thumb.builder == $Request.session.username"}
                    <a style="margin-left: 320px" href="__ROOT__/index/management/edit?id={$thumb.Id}" target="_blank">管理</a>
                    {else /}
                    <a style="margin-left: 320px" href="__ROOT__/index/square/show?id={$thumb.Id}" target="_blank">查看</a>
                    {/if}
                </p>
            </div>
        </div>
    </div>
    {/volist}
    <!--/缩略图-->
</div>
</body>
</html>